In [1]:
import sys
import os
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
sys.path.append(os.path.abspath('../source'))

from BD_connection import get_sqlalchemy_engine

conexion = get_sqlalchemy_engine()

Conexión a la base de datos exitosa.

In [3]:
df = pd.read_sql_query("SELECT * FROM raw_grammy", conexion)
print(df.head())

   year                              title               published_at  \
0  2019  62nd Annual GRAMMY Awards  (2019)  2020-05-19T05:10:28-07:00
1  2019  62nd Annual GRAMMY Awards  (2019)  2020-05-19T05:10:28-07:00
2  2019  62nd Annual GRAMMY Awards  (2019)  2020-05-19T05:10:28-07:00
3  2019  62nd Annual GRAMMY Awards  (2019)  2020-05-19T05:10:28-07:00
4  2019  62nd Annual GRAMMY Awards  (2019)  2020-05-19T05:10:28-07:00

                  updated_at            category     nominee         artist  \
0  2020-05-19T05:10:28-07:00  Record Of The Year     Bad Guy  Billie Eilish
1  2020-05-19T05:10:28-07:00  Record Of The Year     Hey, Ma       Bon Iver
2  2020-05-19T05:10:28-07:00  Record Of The Year     7 rings  Ariana Grande
3  2020-05-19T05:10:28-07:00  Record Of The Year  Hard Place         H.E.R.
4  2020-05-19T05:10:28-07:00  Record Of The Year        Talk         Khalid

                                             workers  \
0  Finneas O'Connell, producer; Rob Kinelski & Fi...
1  BJ Burton, Brad Cook, Chris Messina & Justin V...
2  Charles Anderson, Tommy Brown, Michael Foster ...
3  Rodney “Darkchild” Jerkins, producer; Joseph H...
4  Disclosure & Denis Kosiak, producers; Ingmar C...

                                                 img  winner
0  https://www.grammy.com/sites/com/files/styles/...       1
1  https://www.grammy.com/sites/com/files/styles/...       1
2  https://www.grammy.com/sites/com/files/styles/...       1
3  https://www.grammy.com/sites/com/files/styles/...       1
4  https://www.grammy.com/sites/com/files/styles/...       1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4810 entries, 0 to 4809
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          4810 non-null   int64
 1   title         4810 non-null   object
 2   published_at  4810 non-null   object
 3   updated_at    4810 non-null   object
 4   category      4810 non-null   object
 5   nominee       4804 non-null   object
 6   artist        2970 non-null   object
 7   workers       2620 non-null   object
 8   img           3443 non-null   object
 9   winner        4810 non-null   int64
dtypes: int64(2), object(8)
memory usage: 375.9+ KB

In [5]:
null_values= df.isnull().sum()
print("Valores nulos:\n", null_values)

Valores nulos:
 year               0
title              0
published_at       0
updated_at         0
category           0
nominee            6
artist          1840
workers         2190
img             1367
winner             0
dtype: int64

In [6]:
duplicate_values= df[df.duplicated(keep=False)]
print("Datos duplicados:\n", duplicate_values)

Datos duplicados:
 Empty DataFrame
Columns: [year, title, published_at, updated_at, category, nominee, artist, workers, img, winner]
Index: []